// ===================================================================
/* MAIN
// ===================================================================

// -------------------------------------------------------------------
// Imports
// -------------------------------------------------------------------

// element > component > layout > template > page

@import config/reset
@import config/variables
@import config/mixins
@import config/grid
@import config/normalize

@import element/button/button
@import element/button/button_primary

@import component/list/list_3columns
@import component/list/list_5columns
@import component/list/list_navigator

@import layout/header/header
@import layout/section/section
@import layout/section/section_blue
@import layout/section/section_dark
@import layout/section/section_gray
@import layout/section/section_green
@import layout/section/section_white


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.content
    +clearfix


// elements

.brand
    width: 300px
    height: 78px
    display: block
