// ===================================================================
/* HEADER
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #545454
$color_background: white


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.header
    +clearfix
    padding: 3em
    color: $color_text
    background-color: $color_background

    .brand
        float: left
        width: 300px
        display: block

    .list_navigator
        float: right
        margin-top: 2.5em
