// ===================================================================
/* HEADER
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_background: white


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.header
    +clearfix
    background-color: $color_background

    .brand
        width: 80%
        display: block
        margin: 1.5em auto


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .header
        width: 100%
        padding: 50px 0
        padding-bottom: 25px
        +position(fixed, top, 0, left, 0, 1000)

        .brand
            margin: 0
            float: left
            width: 300px

        .list_navigator
            float: right
            margin-top: 44px
