// ===================================================================
/* BUTTON PRIMARY
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: #183d4c


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.button_primary
    @extend %button
    font-size: 18px
    padding: 1em 2em
    font-weight: bold
    color: $color_text
    +border-radius(8px)
    text-transform: uppercase
    background-color: $color_background
    border-bottom: 1px solid darken($color_background, 10)

    &:hover, &:focus, &:active, &:visited
        color: $color_text

    &:hover
        background-color: lighten($color_background, 10)
