// ===================================================================
/* DEMO BLOCKS
// ===================================================================

// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.demo_admin,
.demo_ecommerce
    +clearfix
    margin-bottom: 4em

    .demo_image
        margin-bottom: 2em


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .demo_admin,
    .demo_ecommerce
        margin-bottom: 0

        .demo_image
            float: left
            width: 55%

        .demo_description
            float: right
            width: 40%
            min-height: 280px
            position: relative

    .demo_ecommerce
        margin-bottom: 100px
