// ===================================================================
/* FOOTER
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: #0b1f2d


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.footer
    +clearfix
    padding: 3em
    color: $color_text
    background-color: $color_background

    .brand
        float: left
        width: 150px
        display: block

    .list_navigator
        float: right

        a:hover
            color: white
            background-color: transparent
