// ===================================================================
/* FOOTER
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #515151
$color_background: #191919


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.footer
    +clearfix
    padding: 2em
    font-size: 18px
    line-height: 1.5em
    text-align: center
    color: $color_text
    font-family: $font_head
    background-color: $color_background

    li
        margin-bottom: 1.5em


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .footer

        li
            +grid(4, 2%)
            margin-bottom: 0

        .brand
            max-width: 175px
