// ===================================================================
/* LIST NAVIGATOR
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #545454
$color_background: $color_turquoise


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.list_navigator
    +clearfix

    li
        display: block

    a
        display: block
        color: $color_text
        padding: 0.9em 1em
        text-decoration: none
        font-family: $font_head
        text-transform: uppercase


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .list_navigator

        li
            display: inline-block

        a:hover
            color: white
            background-color: $color_background
