// ===================================================================
/* LIST NAVIGATOR
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #545454
$color_background: $color_turquoise


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.list_navigator
    +clearfix
    display: none

    li
        display: block

    a
        @extend .h5
        padding: 12px
        display: block
        margin-bottom: 0
        color: $color_text
        text-decoration: none
        text-transform: uppercase


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .list_navigator
        display: block

        li
            display: inline-block

        a:hover
            color: white
            background-color: $color_background
