// ===================================================================
/* CARD CODE
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$size_number: 36px
$color_background: white
$color_text: $color_gray_dark
$color_head: $color_green_light
$color_number: $color_turquoise


// -------------------------------------------------------------------
// Viewport : all
// -------------------------------------------------------------------

.card
    +clearfix
    padding: 1em
    text-align: center
    +border-radius(10px)
    background-color: white

    > h4
        font-size: 18px
        color: $color_head
        margin-bottom: 8px
        text-transform: uppercase

    > p
        font-size: 14px
        color: $color_text
        margin-bottom: 2em

    .number
        color: white
        display: block
        margin: 1em auto
        text-align: center
        +size($size_number)
        +border-radius(100%)
        font-family: $font_head
        line-height: $size_number
        font-size: $size_number / 2
        background-color: $color_number

    .code
        padding: 1em
        text-align: left
        min-height: 120px
        +border-radius(4px)
        font-family: $font_code
        background-color: $color_gray_light

        span
            display: block
            font-size: 10px
            line-height: 1.5em
            margin-bottom: 0.4em
