// ===================================================================
/* CARD CODE
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_background: white
$color_text: $color_gray_dark
$color_head: $color_green_light


// -------------------------------------------------------------------
// Viewport : all
// -------------------------------------------------------------------

.card
    padding: 1em
    text-align: center
    +border-radius(10px)
    background-color: white

    h4
        color: $color_head
        margin-bottom: 40px
        text-transform: uppercase

    .code:last-child
        margin-bottom: 0


.code
    margin-bottom: 1em

    .code_title
        padding: 1em
        color: white
        font-family: $font_head
        background-color: $color_head
        +border-radius-side(4px, top, left)
        +border-radius-side(4px, top, right)

    .code_content
        padding: 1em
        background-color: $color_gray_light
        +border-radius-side(4px, bottom, left)
        +border-radius-side(4px, bottom, right)

        span
            display: block
            font-size: 12px
            text-align: left
            line-height: 1.5em
            margin-bottom: 0.4em
            font-family: $font_code
