// ===================================================================
/* FONTS
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$weights: 400, 700


// -------------------------------------------------------------------
// Constructor
// -------------------------------------------------------------------

=font($name)

    @each $weight in $weights

        $font_name: "#{$name}#{$weight}"

        @font-face
            font-family: $font_name
            src: url(../fonts/#{$name}/#{$font_name}.ttf)


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

+font("montserrat")
