// ===================================================================
/* NORMALIZE
// ===================================================================

// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

body
    +font-smoothing
    font-size: $size_font
    font-family: $font_base

img
    width: 100%
    vertical-align: bottom
