// ===================================================================
/* NORMALIZE
// ===================================================================

// -------------------------------------------------------------------
// Layout
// -------------------------------------------------------------------

body
    +font-smoothing
    font-family: $font_base


// -------------------------------------------------------------------
// Typos
// -------------------------------------------------------------------

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
    font-family: $font_head


h1, .h1
    font-size: 58px
    line-height: 50px
    letter-spacing: -3px
    margin-bottom: 1em

h2, .h2
    font-size: 48px
    line-height: 42px
    letter-spacing: -2px
    margin-bottom: 1em

h3, .h3
    font-size: 34px
    line-height: 31px
    letter-spacing: -1.5px
    margin-bottom: 0.8em

h4, .h4
    font-size: 22px
    line-height: 19px
    letter-spacing: -1px
    margin-bottom: 0.6em

h5, .h5
    font-size: 12px
    line-height: 12px
    letter-spacing: -0.3px
    margin-bottom: 0.3em

h6, .h6
    font-size: 16px
    line-height: 24px
    letter-spacing: -0.3px
    margin-bottom: 0.8em

p, .p
    font-size: 14px
    line-height: 20px
    letter-spacing: 0
    margin-bottom: 0.3em
    font-family: $font_base

a
    color: white
    display: inline-block
    text-decoration: none

    &:hover, &:focus, &:active, &:visited
        color: inherit


// -------------------------------------------------------------------
// Media
// -------------------------------------------------------------------

img
    width: 100%
    vertical-align: bottom


// -------------------------------------------------------------------
// Media queries
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    body
        padding-top: 155px
