// ===================================================================
// VARIABLES
// ===================================================================

// -------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------

$color_turquoise:  #3cc7bf
$color_blue_green: #183d4c
$color_blue_black: #0b1f2d
$color_gray_light: #e0e5e9


// -------------------------------------------------------------------
// Fonts
// -------------------------------------------------------------------

$font_base: "Merriweather", sans-serif
$font_head: "Montserrat", serif


// -------------------------------------------------------------------
// Sizes
// -------------------------------------------------------------------

$size_font: 15px
