// ===================================================================
/* STEP ITEM
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: white


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.step
    padding: 0 4em

    h3
        font-size: 24px
        text-align: center
        color: $color_text
        font-family: $font_head
        text-transform: uppercase

    img
        margin-bottom: 1em

    span
        line-height: 1.5em


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .step a:hover
        opacity: 0.6
