// ===================================================================
/* STEP ITEM
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: white


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.step

    h3
        font-size: 24px
        text-align: center
        color: $color_text
        font-family: $font_head
        text-transform: uppercase

    img
        padding: 2em
        +box-sizing(border-box)

    span
        line-height: 1.5em


// -------------------------------------------------------------------
// Viewport : desktop
// -------------------------------------------------------------------

@media (min-width: $size_desktop)

    .step
        padding: 0 2em

        a:hover
            opacity: 0.6
