// ===================================================================
/* STATS ITEM
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: white


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.step
    padding: 0 3em

    img
        margin-bottom: 3em

    h3
        font-size: 24px
        text-align: center
        color: $color_text
