// ===================================================================
/* SECTION GRAY
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #353735
$color_head: $color_green_light
$color_background: $color_gray_light


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.section_gray
    @extend %section
    background-color: $color_background

    .section_title
        color: $color_head

    .section_separation > i
        background-color: $color_head

    .section_description
        color: $color_text

    .section_list
        +clearfix
        margin-bottom: 30px


// -------------------------------------------------------------------
// Viewport : desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .section_list > li
        +grid(2, 2%)
