// ===================================================================
/* SECTION BLUE
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: #183d4c


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.section_blue
    @extend %section
    color: $color_text
    background-color: $color_background
