// ===================================================================
/* SECTION DARK
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: $color_green_dark
$color_head: $color_green_dark
$color_background: $color_blue_black


// -------------------------------------------------------------------
// Viewport : all
// -------------------------------------------------------------------

.section_dark
    @extend %section
    color: $color_text
    background-color: $color_background

    h2
        color: $color_head
