// ===================================================================
/* SECTION GRAY
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #545454
$color_background: #e0e5e9


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.section_gray
    @extend %section
    color: $color_text
    background-color: $color_background
