// ===================================================================
/* SECTION DARK
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: #0b1f2d


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.section_dark
    @extend %section
    color: $color_text
    background-color: $color_background
