// ===================================================================
/* SECTION WHITE
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #545454
$color_head: #47d5cd
$color_background: white


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.section_white
    @extend %section
    color: $color_text
    text-align: center
    background-color: $color_background

    h2
        color: $color_head

    h3
        margin-bottom: 3em
