// ===================================================================
/* SECTION GREEN
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_head: white
$color_background: $color_green_light


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.section_green
    @extend %section
    color: $color_text
    background-color: $color_background

    .section_title
        text-align: left
        color: $color_head

    .section_separation
        text-align: left

        > i
            background-color: $color_head

    .section_description
        text-align: left
        color: $color_text
        margin-bottom: 2em


    .about_title
        @extend .h1
        margin-bottom: 0.5em


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .section_green
        padding-top: 150px

        .about_us
            +clearfix
            width: 35%
            float: left

        .about_image
            +clearfix
            width: 50%
            float: right

        .about_title
            margin-bottom: 1em


        .button_primary
            +position(absolute, bottom, 0, left, 0)
