// ===================================================================
/* SECTION GREEN
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: #3cc7bf


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.section_green
    @extend %section
    color: $color_text
    text-align: left
    background-color: $color_background

    h3
        font-size: 24px
        line-height: 1.5em

    &.lanscape
        min-height: 500px
        background-image: url('../img/background.png')
        background-repeat: no-repeat
        background-position-x: right
        background-position-y: center

    .about_us
        width: 45%
        float: left
