// ===================================================================
/* SECTION WHITE
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: #545454
$color_background: white


// -------------------------------------------------------------------
// Application
// -------------------------------------------------------------------

.section_white
    @extend %section
    color: $color_text
    background-color: $color_background
