// ===================================================================
/* SECTION GREEN
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_text: white
$color_background: $color_turquoise


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.section_green
    @extend %section
    color: $color_text
    background-color: $color_background

    .about_us,
    .about_image
        margin-bottom: 2em


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .section_green
        text-align: left

        .about_us
            width: 45%
            float: left
            margin-right: 5%

        .about_image
            width: 45%
            float: right
