// ===================================================================
/* CAROUSEL
// ===================================================================

// -------------------------------------------------------------------
// Config
// -------------------------------------------------------------------

$color_active: $color_blue_dark


// -------------------------------------------------------------------
// Viewport : mobile
// -------------------------------------------------------------------

.carousel
    +clearfix
    overflow: hidden

    .item
        float: left
        display: block
        position: relative

    h1, h3
        font-size: 26px
        line-height: 28px
        letter-spacing: -2px
        font-family: $font_base

    .button_primary
        margin-bottom: 2em


.slick-slide

    &:hover, &:focus, &:active, &:visited
        outline: none


// -------------------------------------------------------------------
// Viewport : tablet & desktop
// -------------------------------------------------------------------

@media (min-width: $size_tablet)

    .carousel .button_primary
        margin-bottom: 0
